<!DOCTYPE html>
<html>
<head>
    <title>Food App Temporary Home</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>

    <div class="navbar-end">
        <a href="{{ url_for('main.home') }}" class="navbar-item">
            Home
        </a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.profile') }}" class="navbar-item">
            Profile
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login.login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('signup.signup') }}" class="navbar-item">
            Sign Up
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('login.logout') }}" class="navbar-item">
            Logout
        </a>
        {% endif %}
    </div>
    
</body>
</html>